<div id="<%= dom_id health_record %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">記録日:</strong>
    <%= health_record.recorded_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">体重:</strong>
    <%= health_record.weight %>
  </div>
  <div>
    <strong class="block font-medium mb-1">睡眠時間:</strong>
    <%= health_record.sleep_duration_text || "➖" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">運動時間:</strong>
    <%= health_record.exercise_minutes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">体調:</strong>
    <%= health_record.mood %>
  </div>
  <div>
    <strong class="block font-medium mb-1">メモ:</strong>
    <%= health_record.notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">歩数:</strong>
    <%= health_record.steps %>
  </div>
  <div>
    <strong class="block font-medium mb-1">心拍数:</strong>
    <%= health_record.heart_rate %>
  </div>
</div>
