<div id="<%= dom_id health_record %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Recorded at:</strong>
    <%= health_record.recorded_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= health_record.weight %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sleep hours:</strong>
    <%= health_record.sleep_hours %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Exercise minutes:</strong>
    <%= health_record.exercise_minutes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mood:</strong>
    <%= health_record.mood %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= health_record.notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Steps:</strong>
    <%= health_record.steps %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Heart rate:</strong>
    <%= health_record.heart_rate %>
  </div>
</div>
